/* 
    Document   : comun
    Created on : 12-oct-2010, 14:01:51
    Author     : narf
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

/*Fondo degradado color de texto comun, y fuente comun*/
@font-face {
        font-family: "Adventure";
        src: url("Adventure.ttf") format("truetype");
}

body{
        background-color: white;
        background-image: url('../images/default/fondo2.png');
        background-repeat: repeat-y;
        background-position:center; 
        font-family: arial;
        color: #656565;
        padding: 0px;
        margin: 0px;
        text-align: center;
}

/*Columna central al 60%*/
#body{
        border: 0px green solid;
        height: auto;
        width: 100%;
        min-width:920px;

        padding: 0px;
        margin: 0px auto;
        text-align:left;
}

/*Titulos*/
h1{
        /*font-family: "Adventure";*/
        color: rgb(100,100,255);
        text-align:left;
}

h2{
        /*font-family: "Adventure";*/
        color: rgb(100,100,100);
        text-align:left;
}

/*Divs redondeados de color y con sombras*/
div{
        border: 0px red solid;
        padding: 30px;
        margin: 20px;
        padding-top: 0px;

}

fieldset{
        border: 0px white solid;
        opacity: 1;
}

/*Modelo de inputs de texto*/
input{
        margin: 5px;
        padding:2.5px;
        -moz-border-radius: 10px 0px 10px 0px;
        -webkit-border-radius: 10px 0px 10px 0px;
        border-style: solid;
        border-width: 1px;
}

.cambia-img{

    float:left;
    background-color:#7878FF;
border:0 solid black;
color:white;
font-weight:bolder;
margin:5px;
padding:10px 20px;

}
/*Modelo de botones*/
.button{
        border: 0px black solid;
        background-color: rgb(120,120,255);
        color:white;
        font-weight: bolder;
        margin: 5px;
        padding:10px 20px 10px 20px;
        -moz-border-radius: 10px 0px 10px 0px;
        -webkit-border-radius: 10px 0px 10px 0px;
}

/*Imagen entrada en el fondo para marga de agua*/
#marcaagua{
        width: 80%;
        position: absolute;
        left: 10%;
        z-index: -10;

        opacity: 0.10;
        filter:alpha(opacity=10); /*Transparencia de imagen para IE*/
}

#intrologo {
        width: 800px;
        margin: 0px;
        margin-top:0px;
        position:absolute;
        left: 250px;
        z-index: -5;
        visibility: hidden;
}

/*Dos columnas al 50%, lo mas seguro esque en el resto del documento utilicemos una barra y no dos columnas iguales*/
span{
        width: 49%; /*Por IE el valor real deberia ser 50%*/
        border: 0px green solid;
        padding: 0px;
        margin: 0px;
        
        opacity: 1;
}

.left{
        text-align: right;
}

#leftspan{
        /*float: right;*/
        /*width: 30%;*/ /*Fijado para compatibilidad con IE*/
        width: 400px;
        position: absolute;
        right:0px;

        padding: 0px;
        marggin: 0px;
}

#rightspan{
        /*float: left;*/
        /*width: 70%;*/ /*Fijado para compatibilidad con IE*/
        width: 610px;

        padding: 0px;
        marggin: 0px;

}

#generallogo
{
        background-image: url('../images/default/intrologo2.png');
        background-repeat: no-repeat;
        /*background-size:auto 200px; /*Ni firefox ni IE redimensionan la imagne de fondo*/
        height:200px;
        width: 450px;
}

textarea{
        margin: 5px;
        padding:2.5px;

        -moz-border-radius: 10px 0px 10px 0px;
        -webkit-border-radius: 10px 0px 10px 0px;
}

img{
        border:none;
}


#busqueda{
        width:530px;
        padding:0px;
        margin: 0px;
        border-spacing: 0px;
}

#busqueda tr{

        border: 0px white solid;
        margin: 5px;
        padding:2.5px;
        padding:0px;
        margin: 0px;
}

#busqueda td{
        padding:0px;
        margin: 0px;
}
/*
#busqueda td{
    border-top: 1px blue solid;
}
*/
/*
#busqueda tr:nth-child(even) {
    background-color:rgba(255,255,255,0.75);
}
*/
#busqueda tr:nth-child(odd) {
        color: white;
        background-color: rgb(120,120,255);
}

img{
        vertical-align: middle;
        background-color: none;
}


#floatleft{
    float:left;
    padding: 50px;
    width: 800px;
}

#floatright{
    float:right;
    text-align:left;
    padding: 15px;
    padding-top:100px;
    width: 400px;
}


#avatar{
    width:150px;
    padding:10px;
    posision:absolute;
}

/*estilo index 2*/

#introtexto {
        background-image: url('../images/default/intrologo.png');
        background-repeat: no-repeat;
        background-size:auto 200px; /*hay que redimensionar la imagen*/
        padding-top:200px;
        
        width: 100%;
        text-align:justify;

        margin: 0px;
}

#intrologin{
        text-align:right;
        height: 100%;
        width: auto;

}

#intrologin #login {
    width: 150px;
}

#intrologin #password {
    width: 150px;
}


#titulo {
        border: 0px white solid;
        margin-top:100px;
        margin-left:0px;
        position: absolute;
        width:800px;

}

#nuevousuario{
        border: 0px white solid;
        margin-top:0px;
        margin-left:0px;
        vertical-align:middle;
}

.ejemplo{
        /*background-image:url('../images/ejemplos/ejemplo.jpg');*/
        background-position:center;
        height: 320px;
        width: 320px;
        visibility: hidden;
}

.icono{
    height: 50px;
}

#cambioestilo{
    position: absolute;
    right:0px;
    top: 0px;
    padding: 5px;
    -moz-border-radius: 0 0 0 10px;
    -webkit-border-radius: 0 0 0 10px;
    background-image: url("../images/default/BlancoAl20.png");
}

#cambioestilo img{
    margin: 2px;
}