/* 
    Document   : usuario
    Created on : 05-oct-2010, 16:52:27
    Author     : narf
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

#introtexto {
        width: 100%;
        text-align:justify;

        margin: 0px;
}

#intrologin{
        text-align:right;
        height: 100%;
        width: auto;

}

#login {
    width: 150px;
}

#password {
    width: 150px;
}


#titulo {
        border: 0px white solid;
        margin-top:100px;
        margin-left:0px;
        position: absolute;
        width:800px;
        
}

#nuevousuario{
        border: 0px white solid;
        margin-top:0px;
        margin-left:0px;
        vertical-align:middle;
}

.ejemplo{
        /*background-image:url('../images/ejemplos/ejemplo.jpg');*/
        background-position:center;
        height: 320px;
        width: 320px;
        visibility: hidden;
}