/* 
    Document   : usuario
    Created on : 05-oct-2010, 16:52:27
    Author     : narf
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

body{
    background-image: url('../images/fondo.jpg');
}

.login{
    background-color: rgba(255,255,255,0.5);
    height: 100px;
    width: 150px;
    border: 1px black solid;
    border-radius: 5px;
}
